# pdf and mdbooks

book
KiCad_LikeAPro.pdf
KiCad_Fundamentals_Projects.pdf
.DS_Store
info.md

# Ignore the output directories
build/
dist/
output/

# Ignore the backup files
*.bak
*.b#*
*.bck
*~

# Ignore autosave files
*.kicad_pcb-bak
*.sch-bak
*.kicad_sch-bak
*.bak

# Ignore generated BOM files
*.xml
*.csv
*.html
*.pos
*.wrl
*.step

# Ignore simulation files
*.net
*.spice
*.raw
*.log

# Ignore compiled library files
sym-lib-table
fp-lib-table

# Ignore Gerber and other fabrication output files
*.gbr
*.drl
*.ger
*.gbl
*.gtl
*.gbs
*.gts
*.gbo
*.gto
*.gbp
*.gtp
*.gm1
*.gko
*.zip

# Ignore temporary files
*.tmp
*.lock
